.loader {
  position: relative;
  top: 6rem;
}

.section {
  position: relative;
  top: 6rem;
  margin-bottom: 0rem;
  justify-content: center;
  flex-direction: row;
}
.section_inner {
  background-color: white;
  padding: 5vh 2vw;
  margin: 20vh 1vw;
  border-radius: 8px;
  width: 30vw;
  height: 49vh;
  display: flex;
  text-align: center;
  color: #1b263b;
  font-size: 4rem;
  font-weight: bold;
  border: solid;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.section_inner:hover {
  background-color: #1b263b;
  color: white;
}
.icon {
  padding-top: 1rem;
}
.icon > svg {
  width: 10rem;
  height: 10rem;
  fill: #1b263b;
}
.section_inner:hover > .icon > svg {
  fill: #f89e86;
}
