header {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 6rem;
  z-index: 10;
  background-color: #1b263b;
}
.banner_inner {
  padding: 0 3rem;
  position: relative;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
nav {
  display: flex;
  align-items: center;
}
nav > a {
  color: white;
  margin-right: 3rem;
  font-size: 1.3rem;
  /* font-weight: bold; */
}
nav > a:hover,
div > a:hover {
  color: #f89e86;
}
.homepage > svg {
  fill: #f89e86;
  width: 2rem;
}
.log {
  display: flex;
  align-items: center;
}
div > a {
  color: white;
  margin-left: 3rem;
  font-size: 1.3rem;
}
.name {
  color: #f89e86;
  border: solid #f89e86;
  padding: 1rem 2rem;
  border-radius: 8px;
}
.logout {
  border: none;
  background-color: #1b263b;
  color: white;
  font-size: 1.3rem;
  width: fit-content;
  margin-left: 3rem;
}
.logout:hover {
  color: #f89e86;
  background-color: #1b263b;
  border: none;
}
