{% extends 'base.html' %} {% block content %}
<body>
  <div class="section_outer">
    <section>
      <article>
        <ul class="list_box">
          {% for key, value in article.items %}
          <li class="list">
            <a href="{{ value.id }}">
              <div class="thumbnail_box">
                <img src="{{ value.이미지 }}" class="thumbnail" />
              </div>
              <div class="content_box">
                <div class="list_name">{{ value.이름 }}</div>
                <div class="list_date">{{ value.날짜 }}</div>
                <div class="list_area">{{ value.지역 }}</div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </article>
    </section>
  </div>
</body>
{% endblock %}
